.heroWrapper {
  display: flex;
  gap: 125px;
}

.heroHeading {
  font-size: 5rem;
  line-height: 1.1;
  max-width: 37.1875rem;
  margin: 0;
  margin-bottom: 20px;
  & i {
    color: #fc832c;
  }
}

.heroText {
  max-width: 510px;
  font-size: 1.125rem;
  margin-bottom: 40px;
}
.heroBtn {
  padding: 18px 50px;
  color: #fbfbfb;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  overflow: visible;
}

.decorMain {
  background-color: #fc832c;
  display: flex;
  padding: 32px;
  border-radius: 20px;
  gap: 1rem;
  width: 311px;
  position: absolute;

  top: 360px;
  right: 240px;
}
.decorQuestion {
  background-color: #54be96;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  rotate: -15deg;
  top: 190px;
  left: -20px;
}

.decorPeople {
  background-color: #fbc75e;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  rotate: 15deg;
  top: 50px;
  right: -26px;
}

.checkedWrapper {
  background-color: #fbfbfb;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.decorMainText {
  color: #fbfbfb;
  font-size: 0.875rem;
  font-weight: 400;
}

.decorMainNumber {
  color: #fbfbfb;
  font-size: 1.5rem;
  font-weight: 700;
}
