.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 26, 21, 0.6);
  z-index: 100;
  overflow: hidden;
}

.modal {
  padding: 64px;
  border-radius: 30px;
  background: #fbfbfb;
  position: relative;
  color: #191a15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 1000;
  max-width: 600px;
  width: 100%;
  overflow: auto;
  @media screen and (max-width: 1023px) {
    padding: 48px;
  }
  @media screen and (max-width: 768px) {
    max-width: 330px;
    padding: 24px;
  }
  @media screen and (max-width: 375px) {
    max-width: 280px;
  }
}

.modal h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.modal p {
  color: rgba(25, 26, 21, 0.5);
  font-size: 1rem;
  font-weight: 400;
  max-width: 27.375rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modal input {
  border-radius: 12px;
  border: 1px solid rgba(25, 26, 21, 0.2);
  color: #191a15;
  display: block;
  max-width: 438px;
  height: 52px;
  padding-left: 16px;
}

.modal input::placeholder {
  color: #191a15;
  font-size: 1rem;
  font-weight: 400;
}

.modal button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries for Tablet */
@media screen and (max-width: 768px) {
  .modal {
    padding: 32px;
  }

  .modal h2 {
    font-size: 2rem;
  }

  .modal p {
    max-width: 100%;
  }

  .modal input {
    max-width: 100%;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 480px) {
  .modal {
    padding: 16px;
  }

  .modal h2 {
    font-size: 1.5rem;
  }

  .modal p {
    font-size: 0.875rem;
  }

  .modal input {
    height: 40px;
    padding-left: 12px;
  }
}

.closeButton {
  background-color: transparent;
  display: block;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
}

.psychologistResume {
  display: flex;
  gap: 14px;
  margin-right: auto;
  & img {
    border-radius: 10px;
  }
}
.passwordInputWrapper {
  position: relative;
}
.passwordInput {
  width: 96%;
}
.togglePassword {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 28%;
  right: 1%;
  width: 40px;
  @media screen and (max-width: 768px) {
    right: 1%;
  }
}

.submitBtn {
  padding: 16px 190px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }
}
