.loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 48px;
  margin-left: auto;
  margin-right: auto;
  color: #fbfbfb;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.filterLabel {
  color: #8a8a89;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}
