.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 128px;
  z-index: 1;
  background-color: #fbfbfb;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}
.linksWrapper {
  display: flex;
  gap: 40px;
  @media screen and (max-width: 1023px) {
    gap: 20px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.login {
  display: flex;
  padding: 14px 39px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(25, 26, 21, 0.2);
  background: rgba(25, 26, 21, 0);
}
.signup {
  display: flex;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
}

.headerButtonsWrapper {
  display: flex;
  gap: 8px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.logo {
  color: #fc832c;
  font-size: 1.25rem;
  font-weight: 500;
  & span {
    color: #191a15;
  }
}
.headerNavLink {
  color: #191a15;
  font-size: 1rem;
  font-weight: 400;

  &:hover {
    color: #fc832c;
    text-decoration: underline;
    transition: 500ms;
  }
  &.active {
    color: #fc832c;
    text-decoration: underline;
  }
}
