.psychologist {
  color: #8a8a89;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 375px) {
    font-size: 1rem;
  }

  @media (max-width: 320px) {
    font-size: 0.9rem;
  }
}

.name {
  color: #191a15;
  font-size: 1.5rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 375px) {
    font-size: 1rem;
  }

  @media (max-width: 320px) {
    font-size: 0.9rem;
  }
}

.numbers {
  color: #191a15;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 375px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }

  & .price {
    color: #38cd3e;
  }
}

.numbersWrapper {
  display: flex;
  gap: 16px;
  align-items: center;

  @media (max-width: 375px) {
    align-items: flex-start;
    gap: 8px;
    flex-wrap: nowrap;
  }
}

.delimiter {
  width: 1px;
  height: 16px;
  background-color: rgba(25, 26, 21, 0.2);
}

.ratingWraper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.characterisics {
  color: #8a8a89;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 375px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }

  & span {
    color: #191a15;
  }
}

.characteristicsWrapper {
  display: flex;
  gap: 36px;

  @media (max-width: 320px) {
    gap: 16px;
  }
}

.about {
  color: rgba(25, 26, 21, 0.5);
  font-weight: 400;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 375px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }
}

.pseudoAvatar {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: rgba(252, 131, 44, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fc832c;
  font-size: 1.25rem;
}

.reviewRatingWrapper {
  display: flex;
  gap: 8px;
  align-items: center;

  @media (max-width: 375px) {
    align-items: center;
  }
}

.reviewerDetails {
  display: flex;
  gap: 25px;
}

.reviewerName {
  color: #191a15;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 375px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }
}

.psychologistAvatar {
  border-radius: 15px;
  position: relative;
}

.psychologistAvatarWrapper {
  padding: 12px;
  height: 100px;
  position: relative;
  border-radius: 30px;
  border: 2px solid rgba(252, 131, 44, 0.2);

  @media (max-width: 375px) {
    height: 80px;
  }

  @media (max-width: 320px) {
    height: 60px;
  }
}

.psychologistCardWrapper {
  position: relative;
  margin-bottom: 32px;

  @media (max-width: 600px) {
    margin-bottom: 16px;
  }
}

.mainInfoWrapper {
  display: flex;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 16px;
  }

  @media (max-width: 375px) {
    gap: 12px;
  }

  @media (max-width: 320px) {
    gap: 8px;
  }
}

.topicWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.readMoreBtn {
  color: #191a15;
  font-size: 1rem;
  font-weight: 500;
  text-decoration-line: underline;
  background: none;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 375px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }
}

.comment {
  color: rgba(25, 26, 21, 0.5);
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
}
.favBtn {
  background-color: transparent;
  border: none;
  & .added {
    stroke: #fc832c;
    fill: #fc832c;
  }
}
