:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

section {
  padding-left: 128px;
  padding-right: 128px;
  @media (max-width: 678px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (max-width: 375px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

button {
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #fc832c;
  cursor: pointer;
  transition: border-color 0.25s;
}

p {
  margin-top: 0;
}

.active {
  color: #fc832c;
  text-decoration: underline;
  position: relative;
}
